<main>
    <form action="/addBreed" method="POST" class="cat-form">
        <h2>Add Cat Breed</h2>
        <label for="breed">Breed Name</label>
        <input name="breed" type="text" id="breed">
        <button type="submit">Add Breed</button>
        {{#if message}}
        <span class="notification">{{message}}</span>
        {{/if}}
        {{#if error}}
        <span class="error">{{error._message}}</span>
        {{/if}}
    </form>
</main>