.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navbar {
  background-color: #34aeeb;
  color: white;
  display: flex;
  padding: 20px;
}

.navbar div {
  margin: 10px;
  position: absolute;
  right: 0px;
}

.navbar a {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.navbar a:visited {
  color: white;
}
.navbar a:hover {
  color: greenyellow;
}

.book-list {
  margin: auto;
  padding: 10px;
  width: 25%;
  border: 5px solid #4CAF50;
  border-radius: 20px;
  text-align: center;
  font-family: 'Verdana';
}

.counter {
  margin: auto;
  padding: 10px;
  width: 25%;
  border: 5px solid #4CAF50;
  border-radius: 20px;
  text-align: center;
  font-family: 'Verdana';
}

.counter span {
  padding: 10px;
  font-size: 25px;
}

.counter h2 {
  padding: 10px;
  font-size: 30px;
}

.counter button {
  background-color: #4CAF50;
  border: 3px solid #4CAF50;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

.counter button:hover {
  color: black;
  border: 3px solid #4CAF50;
  background-color: white; 
}

.search {
  margin: auto;
  padding: 10px;
  width: 25%;
  border: 5px solid #4CAF50;
  border-radius: 20px;
  text-align: center;
  font-family: 'Verdana';
}

.search input[type=text] {
  padding: 10px;
  margin: 10px;
  font-size: 17px;
  border-radius: 10px;
  border: 2px solid black;
}

.search input[type=text]:focus {
  outline: none;
}

.search button[type=submit] {
  background-color: #4CAF50;
  border: 3px solid #4CAF50;
  color: white;
  padding: 10px;
  font-size: 17px;
  border-radius: 10px;
  outline: none;
}

.search button[type=submit]:hover {
  color: black;
  border: 3px solid #4CAF50;
  background-color: white; 
}